/* Dark mode background and text color settings */
body {
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .App {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #ffffff;
  }
  
  .App-header {
    margin-top: 20%;
  }
  
  h1 {
    font-size: 24px;
    color: #f0f0f0;
  }
  
  .timer {
    font-size: 48px;
    font-weight: bold;
    color: #4CAF50; /* Bright color for visibility on dark background */
    margin-top: 20px;
  }
  